@main("Startup"){
<div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned(" img/home/header1.jpg ") ) ;" data-stellar-background-ratio="0.65">
    <span class="overlay" style="opacity :.25 ;"></span>
    <div class="container">
        <div class="inner">
            <div class="title">
                <h2 class="text-light"><strong>African Rethink Awards (ARA)</strong></h2>
            </div>
        </div>
    </div>
</div>

<div class="container space-bottom-2x">
    <div class="row">

        <div class="col-md-3 col-sm-4 space-bottom-2x">
            <nav class="side-nav dark-skin">
                <ul role="tablist">
                    <li class="active"><a href="#presentation" role="tab" data-toggle="tab">African Rethink Awards (ARA)</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9 col-sm-8">
            <div class="tab-content transparent space-bottom-2x">
                <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        African Rethink Awards (ARA)
                                    </a>
                            </div>
                            <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">
                                    <p>
                                            <a class="panel-title" target="_blank" href="@routes.Assets.versioned("fichier/ara.doc")">
                                                Télécharger le formulaire de candidature
                                            </a>
                                        </p>
                                    <h3>Des trophées pour les jeunes entrepreneurs</h3>
                                    <p>
                                        Le Land of African Business organise chaque année le programme des African Rethink Awards (ARA), lieu de rencontre privilégié entre des entrepreneurs africains et des investisseurs étrangers, dans un contexte où les start-up trouvent encore difficilement les investissements nécessaires à leur expansion, en particulier dans les premières phases de leur développement, Articulé autour d’un appel à projets, les ARA identifient, analysent et valorisent des start-up portées par de jeunes entrepreneurs africains ou issus de la diaspora. Ils visent quatre objectifs principaux:</p>
                                    <p>AFRICAN-RETHINK-AWARDS</p>
                                    <ul>
                                        <ol>Encourager les initiatives qui répondent efficacement aux problèmatiques de mutation sociétale, économique, sociale et environnementale de l'Afrique</ol>
                                        <ol>Soutenir l'esprit d'entreprise, indispensable pour mailler le tissu économique des pays africains d'un secteur privé dynamique, proche des besoins de ses consommateurs</ol>
                                        <ol>Mettre en lumière des projets prometteurs pour faire venir à eux le soutien financier dont ils ont besoin, en particulier dans leurs premières phases de transformation</ol>
                                        <ol>Promouvoir le développement économique et social du continent africain grâce à ses jeunes talents. Le programme comporte un concours qui récompense des entreprises innovantes et performantes dont le modèle est duplicable sur le continent africain. Les African Rethink Awards s'adressent à titre gratuit à toute start-up répondant à différents critères parmi lesquels :</ol>
                                    </ul>
                                    <p>– Exister depuis moins de 5 ans,</p>
                                    <p>– Être portée par un(e) entrepreneur(se) africain(e) ou issu(e) de la diaspora de moins de 35 ans,</p>
                                    <p>– Intégrer les principes de RSE dans ses activités,</p>
                                    <p>– Afficher des résultats positifs,</p>
                                    <p>– Proposer un produit ou un service innovant.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
}
