@main("Startup"){    
    <section>
            <div class="container aop_class" style="marggin-top:200px">
                <div class="row">
                    <h2 style="text-align:center">Appel d’offres pour prestations</h2>
                    <table class="tab_aop">
                        <thead>
                            <tr>
                                <th>Prestations  à exécuter</th>
                                <th>Objectif de la prestation</th>
                                <th>Résultats attendus</th>
                                <th>Durée et période d'exécution</th>
                                <th>Date limite de soumission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Coaching CV et lettres de motivation</td>
                                <td>Accompagner les réfugiés étudiants (diplômés) et non étudiants avec compétences à s’insérer professionnellement </td>
                                <td>
                                    <ul>
                                        <li>20 réfugiés étudiants sont outillés pour une recherche d’emploi réussie</li>
                                        <li>20 réfugiés étudiants ont acquis des compétences pour rédiger leurs CV et lettres de motivation</li>
                                        <li>20 réfugiés étudiants ont rédigé chacun son CV et sa lettre de motivation</li>
                                    </ul>
                                </td>
                                <td>5 jours (17 au 22 novembre 2017)</td>
                                <td>15/11</td>
                            </tr>
                            <tr>
                                <td>Formation technique création d’entreprise</td>
                                <td>20 réfugiés étudiants candidats à la création d’entreprises</td>
                                <td>
                                    <ul>
                                        <li>Aider les bénéficiaires à comprendre les caractéristiques d’un entrepreneur</li>
                                        <li>Faire acquérir des compétences pour élaborer son business model</li>
                                        <li>Faire acquérir des compétences pour élaborer des business plan bancables</li>
                                    </ul>
                                </td>
                                <td>5 jours (17 au 22 novembre 2017)</td>
                                <td>15/11</td>
                            </tr>
                            <tr>
                                <td>Formation Germe</td>
                                <td>Faire acquérir aux bénéficiaires des compétences en gestion d’entreprise</td>
                                <td>20  réfugiés sont formés</td>
                                <td>27 - 31 décembre 2017</td>
                                <td>15/11</td>
                            </tr>
                            <tr>
                                <td>Renforcement des capacités</td>
                                <td>Faire acquérir des compétences sur le marché de l’emploi et le monde des affaires au Niger </td>
                                <td>Les capacités de 103 réfugiés sont renforcées pour entreprendre / s’insérer professionnellement au Niger</td>
                                <td>5 jours (25 au 29 novembre 2017)</td>
                                <td>15/11</td>
                            </tr>
                            <tr>
                                <td>Elaboration de plans d’affaires simplifiés</td>
                                <td>Elaboration des plans d’affaires simplifiés pour les réfugiés non étudiants</td>
                                <td>
                                    <ul>
                                        <li>73 candidats formés sur le business plan</li>
                                        <li>73 business plan light sont élaborés</li>
                                    </ul>
                                </td>
                                <td>5 jours (25 au 29 novembre 2017)</td>
                                <td>15/11</td>
                            </tr>
                            <tr>
                                <td>Formation en gestion simplifiée Germe</td>
                                <td>Faire acquérir aux bénéficiaires des compétences basiques en gestion de micro entreprise</td>
                                <td>73 réfugiés sont formés</td>
                                <td>01- 05 décembre 2017</td>
                                <td>15/11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
}
