@(blog : Blog)

@main("Blog"){
    <div class="page-title pt-dark pt-parallax" style="background-image: url(@routes.Assets.versioned("img/home/header6.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity: .25;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Blog</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="content-no-sidebar padding-bottom">
        <h3>@blog.getTitre</h3>
        <p>@blog.getShortDescription</p>

        <div class="image-carousel space-top-2x space-bottom light-controls" data-dots="true" data-autoplay="true" data-interval="3000" >
            <div class="inner">
                <img src="@routes.Assets.versioned("img/blogs/"+blog.getImageOne+".jpg")" alt="Image">
                <img src="@routes.Assets.versioned("img/blogs/"+blog.getImageTwo+".jpg")" alt="Image">
                <img src="@routes.Assets.versioned("img/blogs/"+blog.getImageTree+".jpg")" alt="Image">
            </div>
        </div>
        <p>@Html(blog.getLongDescription)</p>
        @if(blog.getVideo){
            <div class="embed-responsive embed-responsive-16by9 space-top-2x space-bottom-2x">
                <iframe src="https://www.youtube.com/embed/@blog.getVideo" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
            </div>
        }
    </div>
}