
@main("Contact"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Contacts</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <section class="contacts-split space-top-3x">
        <div class="column">

                <!-- Data API:
             data-height="500" height of the map in pixels
             data-address="Your address" string
             data-zoom="number" to control map zoom when loaded
             data-disable-controls="false/true" enable/disable map controls like pan, zoom, etc.
             data-scrollwheel="true/false" enable/disable mouse scroll wheel zoom
             data-marker="path_to_your_image" path to custom marker image
             data-marker-title=" Your title" appears on marker hover
             data-styles="[array]" you can adjust the look and feel of your map. Recommend to use https://snazzymaps.com
         -->
            <div class="google-map"
            data-height="450"
            data-address="Niamey"
            data-zoom="6"
            data-disable-controls="false"
            data-scrollwheel="false"
            data-marker="@routes.Assets.versioned("img/map-marker.png")"
            data-marker-title="Cipmen Niamey"
            data-styles='[{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]'>
            </div>
        </div>
        <div class="column">
            <form method="post" class="contact-form ajax-form" autocomplete="off" action="contacts">
                <h4>Pour plus d'information, veuillez nous écrire</h4>
                <p class="text-muted">Cipmen, quartier yantala, plateau</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-control">
                            <i class="pe-7s-user"></i>
                            <input type="text" name="nom" placeholder="Nom" required="required">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-control">
                            <i class="pe-7s-mail"></i>
                            <input type="email" name="expediteur" placeholder="Email" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <i class="pe-7s-comment"></i>
                    <textarea rows="3" name="message" placeholder="Message" required="required"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-top">
                        <label class="checkbox">
                            <input type="checkbox" name="newsletter"> S'inscrire à la newsletter
                        </label>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input type="hidden" name="destinataire" value="contact@@cipmen.org">
                        <button type="submit" class="btn btn-ghost btn-primary">Envoyer le message</button>
                    </div>
                </div>
                <div class="response-holder"></div>
            </form>
        </div>
    </section>
}