
@main("Startup"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header1.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>E3D Niger</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav dark-skin">
                    <ul role="tablist">
                        <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Présentation</a></li>
                        <li><a href="#produits" role="tab" data-toggle="tab">Produits / services</a></li>
                        <li><a href="#ask-question" class="scroll-to" data-offset-top="165">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Qui sommes-nous ?
                                    </a>
                                </div>
                                <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <p>Créée en 2014, <strong>E3D Niger</strong> est une jeune entreprise qui intervient dans la vente des produits et matériels phytosanitaires, la valorisation des ressources naturelles à base de Neem.</p>
                                        <p>
                                            Elle accompagne le monde agricole et rural par des conseils,  des sensibilisations, des formations et  des solutions et innovations en matière d'herbicides, d'insecticides, engrais, traitements de semences.                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane transition fade scale" id="produits">
                        <div class="panel-group" id="accordion3">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb01">
                                        Savon E3D
                                    </a>
                                </div>
                                <div id="pb01" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Ce savon permet de se protéger contre les piqures des insectes aide à lutter contre les ectoparasites (acnés, démangeaison, la gale, les dartres…)
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb02">
                                        Insecticide E3D
                                    </a>
                                </div>
                                <div id="pb02" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        Fait à base d’huile de neem, c’est insecticide est l’idéal pour un traitement phytosanitaire écologique afin de lutter efficacement contre les moustiques, les cafards, les mouches, les araignées….
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb03">
                                        Biofertilisant E3D
                                    </a>
                                </div>
                                <div id="pb03" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Fabriqué à base de tourteau de neem, pour amender les terres dégradées, développé et augmenter la productivité de l’agriculture familiale afin de lutter contre l’insécurité alimentaire.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tile" id="ask-question">
                    <form method="post" autocomplete="off" action="contacts">
                        <h3 class="text-center">Vous voulez nous contacter ?</h3>
                        <p class="text-gray text-center"><strong>info@@e3dniger.com<br>(227) 96 58 59 57 / 90 58 59 57 / 94 55 59 57</strong> </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-control">
                                    <i class="pe-7s-user"></i>
                                    <input type="text" placeholder="Nom" name="nom" required="required">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-control">
                                    <i class="pe-7s-mail"></i>
                                    <input type="email" placeholder="Email" name="expediteur" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <i class="pe-7s-help1"></i>
                            <textarea rows="3" placeholder="Message" name="message" required="required"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <input type="hidden" name="newsletter" value="0">
                                <input type="hidden" name="destinataire" value="contact@@stratetic.org">
                                <button type="submit" class="btn btn-ghost btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}