@(evenements: List[Evenement])

@main("Evènements"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header6.jpg")) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Nos évènements</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-7 col-lg-push-3 col-md-push-4 col-sm-push-5">
            @for(evenement <- evenements){
                <article class="tile post-tile ">
                    <div class="post-thumb">
                        <a href="/evenements/@evenement.getLien"><img src="@routes.Assets.versioned("img/evenements/"+evenement.getImageOne+".jpg")" alt="Post 1"></a>
                    </div>
                    <div class="tile-body post-body">
                        <div class="post-format"></div>
                        <h3 class="post-title"><a href="/evenements/@evenement.getLien">@evenement.getTitre</a></h3>
                        <p>@Html(evenement.getShortDescription)</p>
                    </div>
                </article>
            }
            </div>

            <div class="padding-top visible-xs"></div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-lg-pull-9 col-md-pull-8 col-sm-pull-7">
                <aside class="sidebar space-bottom">

                    <section class="widget widget_tags">
                        <h3 class="widget-title">
                            <i class="pe-7s-ticket"></i>
                            Tags
                        </h3>
                        <a href="#" class="tag">Environnement<span>5</span></a>
                        <a href="#" class="tag">Energie<span>123</span></a>
                        <a href="#" class="tag">Solaire<span>9</span></a>
                        <a href="#" class="tag">Android<span>46</span></a>
                        <a href="#" class="tag">Nature<span>77</span></a>
                        <a href="#" class="tag">Informatique<span>184</span></a>
                        <a href="#" class="tag">Development TIC<span>16</span></a>
                    </section>
                </aside>
            </div>
        </div>
    </div>
}