@import java.util
@(evenements: util.List[Evenement])

@main("Evenements"){
    <div class="page-wrapper">

        <div class="page-title pt-dark pt-parallax" style="background-image: url(@routes.Assets.versioned("img/home/header6.jpg"));" data-stellar-background-ratio="0.65">
            <span class="overlay" style="opacity :.25 ;"></span>
            <div class="container">
                <div class="inner">
                    <div class="title">
                        <h2 class="text-light"><strong>Evenements</strong></h2>
                    </div>

                </div>
            </div>
        </div>

        <section class="container">
            <div class="grid isotope-grid col-3">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>

                @for(evenement <- evenements){
                    <div class="grid-item">
                        <article class="tile post-tile ">
                            <div class="post-thumb">
                                <a href="/evenements/@evenement.getLien"><img src="@routes.Assets.versioned("img/evenements/"+evenement.getImageOne+".jpg")" alt="Post 2"></a>
                            </div>
                            <div class="tile-body post-body">
                                <div class="post-format"></div>
                                <h3 class="post-title"><a href="/evenements/@evenement.getLien">@evenement.getTitre</a></h3>
                                <p>@Html(evenement.getShortDescription)</p>
                            </div>
                        </article>
                    </div>
                }

            </div>
        </section>

    </div>
}