<footer class="footer space-top-3x">
    <div class="container">
        <form class="row subscription" method="post" action="/newsletter">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-control">
                            <i class="pe-7s-user"></i>
                            <input type="text" name="nom" placeholder="Nom">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-control">
                            <i class="pe-7s-mail"></i>
                            <input type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-ghost  btn-info btn-block">Newsletter</button>
            </div>
            <div class="col-sm-12">
                <span class="text-muted">* Restez informé sur l'actualité.</span>
            </div>
        </form>
        <div class="copyright">
            <div class="inner">
                <div class="column">
                    <span class="copy-text">&copy; 2016. Tous droits réservés</span>
                </div>
                <div class="column">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="/mediatheques">Mediathèque</a></li>
                            <li><a href="/postule">Porteurs de projet</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column">
                    <div class="social-bar">
                        <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>