<header class="navbar navbar-fixed">
    <div class="container">
        <div class="inner">

            <a href="/" class="site-logo">
                <img src="@routes.Assets.versioned("img/logo.png")" alt="CIPMEN">
            </a>
            <div class="mobile-dropdown">

                <div class="mobile-tools">
                    <div class="social-bar text-center">
                        <a href="#" class="sb-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="sb-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>

                <nav class="main-navigation">
                    <ul class="menu">
                        <li>
                            <a href="/incubateur">L'incubateur</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Les incubés<span>&#8211;</span></a>
                            <ul class="sub-menu">
                                <li><a href="/startup/stratetic">Stratetic</a></li>
                                <li><a href="/startup/e3d">E3D Niger</a></li>
                                <li><a href="/startup/itechcom">Itechcom</a></li>
                                <li><a href="/startup/icon">Icon</a></li>
                                <li><a href="/startup/apkode">APKode</a></li>
                                <li><a href="/startup/gimafor">Gimafor</a></li>
                                <li><a href="/startup/novateh">Novatech</a></li>
                                <li><a href="/startup/tech-innov">Tech-Innov</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/postule">Je postule</a>
                        </li>
                        <li>
                            <a href="/evenements">Evènements</a>
                        </li>
                        <li>
                            <a href="/blogs">Blogs</a>
                        </li>
                        <li>
                            <a href="/mediatheques">Mediathèque</a>
                        </li>
                        <li>
                            <a href="/contacts">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="toolbar">
                <span class="divider"></span>
                <div class="share-btn">
                    <i class="pe-7s-share"></i>
                    <ul class="dropdown">
                        <li><a href="https://www.facebook.com/incubateurCIPMEN/" class="sb-facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="https://twitter.com/cipmen" class="sb-twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                    </ul>
                </div>
                <a href="/profil" class="btn btn-sm btn-info btn-ghost btn-icon-left scroll-to" data-offset-top="115">
                    <i class="pe-7s-download"></i>Mon espace
                </a>
                <div class="nav-toggle"><span></span></div>
            </div>
        </div>
    </div>
</header>