
@main("Startup"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header1.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Icon</strong></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav dark-skin">
                    <ul role="tablist">
                        <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Présentation</a></li>
                        <li><a href="#produits" role="tab" data-toggle="tab">Produits / services</a></li>
                        <li><a href="#ask-question" class="scroll-to" data-offset-top="165">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Qui sommes-nous ?
                                    </a>
                                </div>
                                <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <p>
                                            <strong>ICON</strong> est une de ces jeunes entreprises montantes de l'écosystème entrepreneurial nigérien. Elle accompagne les entreprises dans le développement de leurs stratégies TIC et le renforcement de compétences de leurs agents.
                                        </p>
                                        <p>
                                            La vision de ICON est de devenir le leader du développement des compétences et de l’innovation dans les TICs au Niger et partout en Afrique.

                                        <p>
                                            Pour ce faire, ICON mène ses activités dans les cinq (05) axes suivants:
                                        </p>
                                        <ul>
                                            <li>Conseils, Ingénierie et Développement de solutions informatiques</li>
                                            <li>Internet, Mobile et Réseaux sociaux</li>
                                            <li>Formation et développement des compétences</li>
                                            <li>Recherche et Innovation</li>
                                            <li>Représentations commerciales et vente de technologies</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane transition fade scale" id="produits">
                        <div class="panel-group" id="accordion3">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb01">
                                        Conseils, Ingénierie et Développement de solutions informatiques
                                    </a>
                                </div>
                                <div id="pb01" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        L’expertise d’ICON et de ses promoteurs lui a déjà ouvert les portes de plusieurs entreprises de la place. En si peu de temps, ICON est déjà sur la voie de son ambition : devenir le « cabinet-conseils agrée» et « l'intégrateur de référence » des entreprises de la place mais aussi se hisser parmi les références au niveau du continent.<br><br>
                                            Le développement de solutions informatiques sur-mesure ou la personnalisation d’outils open-sources basé sur une ingénierie informatique et une validation-produit permettront de saisir les opportunités au niveau des entreprises sensibles à la modernisation de leurs outils de travail.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb02">
                                        Internet, Mobile et Réseaux sociaux
                                    </a>
                                </div>
                                <div id="pb02" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        Le développement de la présence des entreprises sur l’internet, le mobile et les réseaux sociaux permettent de créer de la valeur et de réduire le coût lié à la communication.<br><br>
                                            Notre approche « Présence sur internet » permet aux entreprises de promouvoir leurs activités et avec plus de 127 millions d'utilisateurs de smartphones en 2015 en Afrique et plus d'un (01) milliard de connexions simultanées sur les réseaux sociaux; ICON vous offre la visibilité qu'aucune publicité sur les médias classiques ne peut offrir.<br><br>
                                            A ICON, nous plaçons vos produits et services directement entre les mains des consommateurs et acheteurs.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion3" href="#pb03">
                                        Formation et développement des compétences
                                    </a>
                                </div>
                                <div id="pb03" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        ICON a l'ambition d'apporter toute l'expertise internationale à la portée des cadres et entreprises par l'organisation de formations certifiantes internationalement reconnues.<br><br>
                                            Les certifications internationalement reconnues constituent un standard attestant de la compétence dans un domaine : gestion de projets, de programmes, gestion d'équipe, gestion du temps et des priorités, gestion de la relation client, gestion des systèmes d'information, qualité, audit, sécurité, bases de données, Linux, programmation, réseaux, virtualisation, stockage, modélisation, .…<br><br>
                                            Nos formations en développement personnel permettent aux entreprises de développer les habiletés de leurs cadres à exceller dans leurs activités quotidiennes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tile" id="ask-question">
                    <form method="post" autocomplete="off" action="contacts">
                        <h3 class="text-center">Vous voulez nous contacter ?</h3>
                        <p class="text-gray text-center"><strong>moussaiba@@gmail.com<br>(+227) 90281029 / 94940155</strong> </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-control">
                                    <i class="pe-7s-user"></i>
                                    <input type="text" placeholder="Nom" name="nom" required="required">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-control">
                                    <i class="pe-7s-mail"></i>
                                    <input type="email" placeholder="Email" name="expediteur" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <i class="pe-7s-help1"></i>
                            <textarea rows="3" placeholder="Message" name="message" required="required"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <input type="hidden" name="newsletter" value="0">
                                <input type="hidden" name="destinataire" value="contact@@stratetic.org">
                                <button type="submit" class="btn btn-ghost btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}