
@main("Startup"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header1.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Appel à candidature incubation</strong></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav dark-skin">
                    <ul role="tablist">
                        <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Appel à candidature incubation</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Les candidatures pour le programme d’incubation du CIPMEN sont ouvertes !
                                    </a>
                                </div>
                                <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <p>
                                            Le CIPMEN est le premier acteur soutenant l’entrepreneuriat au Niger. Il accompagne les entrepreneurs dans le développement de leur activité.</p>
                                        <h5 class="text-primary"> Le programme d’incubation du CIPMEN donne accès à :</h5>

                                        <ul>
                                            <li>Un hébergement et un espace de coworking</li>
                                            <li>Des formations en gestion d’entreprise</li>
                                            <li>Un appui comptable et fiscal</li>
                                            <li>Un appui dans la recherche d’opportunités</li>
                                            <li>Un appui en marketing et communication</li>
                                            <li>L’intégration d’un réseau riche et diversifié</li>
                                        </ul>
                                        <h5 class="text-primary"> Critères :</h5>
                                        <ul>
                                            <li>Avoir un statut d’entreprise avec au moins de 1 an d’exercice</li>
                                            <li>Avoir une offre innovante, un fort potentiel de croissance et d’impact socioéconomique</li>
                                            <li>Posséder un plan d’affaire est un plus</li>
                                        </ul>
                                        <p>
                                            <a class="panel-title" target="_blank" href="@routes.Assets.versioned("fichier/incubation.doc")">
                                                Télécharger le formulaire de candidature
                                            </a>
                                        </p>
                                        <p>
                                            Les candidatures peuvent-être transmises par mail au plus tard le 16 novembre 2018 à contact@@cipmen.org en précisant en objet : « Candidature – programme d’incubation »</p>
                                        <p>
                                            Pour tous renseignements complémentaires, contactez nous via l'e-mail ci-dessus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
