@main("Incubateur"){
    <section class="intro-section padding-bottom-2x" style="background-image : url(@routes.Assets.versioned("img/home/header4.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.15 ;"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 padding-bottom-3x mobile-center">
                    <h2 class="text-light"><strong>CIPMEN</strong></h2>

                </div>

                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ 8 entrprises incubées</strong></h3>
                        </div>
                    </div>
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ 200 millions FCFA de CA cumulés</strong></h3>
                        </div>
                    </div>
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ 11 évènements organisés en 2015</strong></h3>
                        </div>
                    </div>
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ 3000 fans sur les réseaux sociaux</strong></h3>
                        </div>
                    </div>
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ 16 projets en pré-incubation</strong></h3>
                        </div>
                    </div>
                    <div class="box-with-icon horizontal-box light-skin">
                        <div class="box-with-icon-content">
                            <h3 class="text-light"><strong>+ Particpations à 15 évènements internationaux</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container padding-top-3x padding-bottom-3x" data-loop="true" data-interval="4000">
        <h2 class="block-title text-center">Nos offres et services</h2>
        <div class="testimonials-carousel" data-loop="true">
            <div class="inner">
                <div>
                    <h3 class="testimonial-author-name text-center text-bold">Préincubation</h3>
                    <p>Vous avez un projet d’entreprise et un début de solution technologique ?</p>
                    <p>Vous voulez pousser cette innovation sur le marché et trouver vos premiers partenaires et investisseurs ?<p>
                    <p>Le programme de préincubation est fait pour vous !</p>
                    <p>Participez et bénéficiez de locaux, d’un coaching intensif et de business development pendant 6 mois aux côtés d’autres entrepreneurs de talent.</p>
                    <p> Alors, prêt pour relever le défi et booster votre startup ?</p>
                    <h3 class="testimonial-author-name text-center text-bold">
                        Qu’est ce que la préincubation m’apporte ?</h3>
                    <p> Pendant 6 mois :</p>
                    <ol>
                        <li> Locaux équipés en plein centre-ville aux côtés d’autres entrepreneurs</li>
                        <li>
                            Coaching et formation (business model, acquisition client, ressources humaines et marketing pour startups, levée de fonds, pitch aux investisseurs, etc.)</li>
                        <li>
                            Accompagnement en business développement (recherche de partenaires privés ou public, organisation de rendez-vous, aide négociation contrats, etc.)</li>
                        <li> Mise en avant lors d’événements (HACK4dev, web 2.0 , témoignages dans universités, etc.)</li>
                        <li>
                            Communication et relation presse (réseaux sociaux du CTIC, médias partenaires, journalistes</li>
                        <li> Aide à la levée de fond (mise en relation avec bailleurs, préparation concours, etc...).</li>
                    </ol>
                </div>
                <div>
                    <h3 class="testimonial-author-name text-center text-bold">Incubation</h3>
                    <p>L'incubation est une combinaison unique et flexible, un programme d'accompagnement taillé sur-mesure pour chaque entreprise.</p>
                    <p>Ce programme structurant permet, sur un cycle de 3 ans, de mettre en place et de dérouler un dispositif et des stratégies en vue d'atteindre les objectifs de l'entreprise.</p>
                    <p>Il s'agit d'impacter sur le développement des affaires à travers un appui en marketing, en communication, en approche commerciale, en gain de visibilité et par le renforcement de capacités des équipes.</p>
                    <p>L'incubation est conçue pour promouvoir et développer des entreprises TIC à fort potentiel en les soutenant au stade précoce de leur développement.</p>
                    <p>L’incubateur propose des services d’hébergement, de développement d'affaires, de gestion comptable pour les entreprises du secteur TIC déjà créées et cherchant à booster leur croissance au Sénégal et en Afrique de l'Ouest.</p>

                    <h3 class="testimonial-author-name text-center text-bold">Qu’est ce que l’Incubation m’apporte ?</h3>
                    <ol>
                        <li> Locaux équipés + internet + salles de réunion</li>
                        <li> Réunion de suivi : 1h / semaine + fiche de suivi</li>
                        <li> Business development : 2h / semaine</li>
                        <li> Point mensuel avec l'équipe de CIPMEN : 1h /mois</li>
                        <li> Coaching et montée en compétence des équipes</li>
                        <li> Gestion comptable et fiscale</li>
                        <li> Rencontres avec nos partenaires</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-section bg-white border-top padding-top-3x padding-bottom-3x">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-study"></i>
                        </div>
                        <h3 class="box-with-icon-title">Pre Incubation</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-science"></i>
                        </div>
                        <h3 class="box-with-icon-title">Incubation</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-bookmarks"></i>
                        </div>
                        <h3 class="box-with-icon-title">Prestation à la carte</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-credit"></i>
                        </div>
                        <h3 class="box-with-icon-title">Evénements</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-comment"></i>
                        </div>
                        <h3 class="box-with-icon-title">Coworking</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-icon text-center">
                        <div class="box-with-icon-icon">
                            <i class="pe-7s-date"></i>
                        </div>
                        <h3 class="box-with-icon-title">Formations</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-section parallax text-center padding-top-3x padding-bottom-3x" style="background-image : url(@routes.Assets.versioned("img/home/header2.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity: .78;"></span>
        <div class="container padding-top-3x padding-bottom-3x">
            <a href="https://www.youtube.com/watch?v=CoDBASGwbCY" class="video-popup-btn light-skin space-top-3x space-bottom">
                <i class="pe-7s-film"></i>
            </a>
            <p class="text-lg text-light space-bottom-2x">Vidéo de présentation du CIPMEN</p>
        </div>
    </section>

    <section class="container padding-top-3x padding-bottom-3x" data-loop="true" data-interval="4000">
        <h2 class="block-title text-center">Témoignages</h2>
        <div class="testimonials-carousel" data-loop="true">
            <div class="inner">
                <div class="testimonial">
                    <div class="testimonial-author-ava">
                        <img src="@routes.Assets.versioned("img/testimonials/01.jpg")" alt="Jessie Pinkman">
                    </div>
                    <h3 class="testimonial-author-name">Souleymane Drave</h3>
                    <p>Tous les jours un petit pas pour l'entrepreneur, mais un grand pas pour le développement de l'Afrique. Merci CIPMEN.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-author-ava">
                        <img src="@routes.Assets.versioned("img/testimonials/02.jpg")" alt="Lara Goodwill">
                    </div>
                    <h3 class="testimonial-author-name">Fatou Guirassy</h3>
                    <p>Belle expérience, belle équipe Longue vie au CIPMEN.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-author-ava">
                        <img src="@routes.Assets.versioned("img/testimonials/03.jpg")" alt="Mike Johnson">
                    </div>
                    <h3 class="testimonial-author-name">Paul Swider</h3>
                    <p>Thanks for the welcome to your land of opportunities.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-section bg-white padding-top-3x padding-bottom-3x">
        <div class="container">
            <h2 class="block-title text-center">
                Notre équipe
                <small>Jeune et dynamique</small>
            </h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/01.jpg")" alt="Johnathan Doe">
                        </div>
                        <h3 class="box-with-image-title">Moktar Allahoury
                            <small>CEO</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/02.jpg")" alt="Anabelle Dorris">
                        </div>
                        <h3 class="box-with-image-title">Salissou Mato
                            <small>Business developper</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/03.jpg")" alt="Taylor White">
                        </div>
                        <h3 class="box-with-image-title">Houssein Ahssimi
                            <small>Community Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/04.jpg")" alt="Suasanna Davis">
                        </div>
                        <h3 class="box-with-image-title">Fatoumata Bako
                            <small>Project Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/05.jpg")" alt="Christopher Walker">
                        </div>
                        <h3 class="box-with-image-title">Kassai Bako
                            <small>Executive assistant</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/06.jpg")" alt="Endy Garcia">
                        </div>
                        <h3 class="box-with-image-title">Keita Seydou
                            <small>Account Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}