

@main("Accueil"){
    <section class="intro-section" style="background-image: url(@routes.Assets.versioned("img/home/header7.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity: .25;"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 padding-bottom-3x mobile-center">
                    <div class="padding-top-3x hidden-xs"></div>
                    <div class="mobile-center" style="padding-top:150px">
                        @*<h2><strong>CIPMEN, le premier incubateur des PME au Niger</strong> </h2>*@
                    </div>
                </div>


            </div>
        </div>
        <span class="inner-shadow"></span>
    </section>
    @if(flash.containsKey("newslettererror")) {
        @flash.get("newslettererror")
    }
    @if(flash.containsKey("newslettersuccess")) {
        @flash.get("newslettersuccess")
    }

    <section class="fw-section padding-top-3x padding-bottom-3x">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="@routes.Assets.versioned("img/home/secteurs/technology.jpg")" class="img-rounded block-cente" alt="Square">
                </div>
                <div class="col-sm-3">
                    <img src="@routes.Assets.versioned("img/home/secteurs/energie.jpg")" class="img-rounded block-cente" alt="Square">
                </div>
                <div class="col-sm-3">
                    <img src="@routes.Assets.versioned("img/home/secteurs/environnement.jpg")" class="img-rounded block-cente" alt="Square">
                </div>
                <div class="col-sm-3">
                    <img src="@routes.Assets.versioned("img/home/secteurs/agrobusiness.jpg")" class="img-rounded block-cente" alt="Square">
                </div>

            </div>
        </div>
    </section>
    <section class="fw-section padding-bottom-3x">
        <div class="container">
            <a type="submit" class="btn btn-ghost btn-primary" target="_blank" href="@routes.Assets.versioned("fichier/ttwfa.doc")">Train & Travel With Women for Africa</a>
        </div>
    </section>
    <section class="split-section split-gallery">
        <div class="tab-content">
            <div class="tab-pane transition fade scaledown in active" id="img1" style="background-image: url(@routes.Assets.versioned("img/home/slides/2.jpg"))"></div>
            <div class="tab-pane transition fade scaledown" id="img2" style="background-image: url(@routes.Assets.versioned("img/home/slides/1.jpg"))"></div>
            <div class="tab-pane transition fade scaledown" id="img3" style="background-image: url(@routes.Assets.versioned("img/home/slides/3.jpg"))"></div>
        </div>
        <div class="content">

            <nav class="filters-bar space-bottom-2x">
                <div class="column">
                    <div class="custom-controls">
                        <a href="#" class="prev-btn"><i class="pe-7s-angle-left"></i></a>
                        <ul class="bullets">
                            <li class="active"><a href="#img1" data-toggle="tab"></a></li>
                            <li><a href="#img2" data-toggle="tab"></a></li>
                            <li><a href="#img3" data-toggle="tab"></a></li>
                        </ul>
                        <a href="#" class="next-btn"><i class="pe-7s-angle-right"></i></a>
                    </div>
                </div>
            </nav>
            <h3>Pourquoi intégrer le CIPMEN ?</h3>
            <ol>
                <li>Business développement</li>
                <li>Communication et Marketing</li>
                <li>Assistance comptable, juridique et avantages fiscaux</li>
                <li>Organisation et structuration</li>
                <li>Mentorat et parrainage par des entrepreneurs expérimentés</li>
                <li>Levée des fonds</li>
                <li>Assistance à la soumission des appels d’offre</li>
            </ol>

            <ul class="counters">
                <li>
                    <i class="pe-7s-check"></i>
                    <h4>Environnement</h4>
                </li>
                <li>
                    <i class="pe-7s-check"></i>
                    <h4>Energies renouvellables</h4>
                </li>
                <li>
                    <i class="pe-7s-check"></i>
                    <h4>Technologie</h4>
                </li>
                <li>
                    <i class="pe-7s-check"></i>
                    <h4>Agrobusiness</h4>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Etat du Niger">
                        <img src="@routes.Assets.versioned("img/clients/12.jpg")" alt="Etat du Niger">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Total">
                        <img src="@routes.Assets.versioned("img/clients/1.jpg")" alt="Total">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Orange">
                        <img src="@routes.Assets.versioned("img/clients/5.jpg")" alt="Client5">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Gamma Informatique">
                        <img src="@routes.Assets.versioned("img/clients/2.jpg")" alt="Gamma Informatique">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Energie SA">
                        <img src="@routes.Assets.versioned("img/clients/3.jpg")" alt="Energie SA">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="BOA">
                        <img src="@routes.Assets.versioned("img/clients/4.jpg")" alt="BOA">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Bolore">
                        <img src="@routes.Assets.versioned("img/clients/6.jpg")" alt="Bolore">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Chambre de commerce et de l'industrie">
                        <img src="@routes.Assets.versioned("img/clients/7.jpg")" alt="Chambre de commerce et de l'industrie">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="CTIC">
                        <img src="@routes.Assets.versioned("img/clients/8.jpg")" alt="CTIC">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Lundin fundation">
                        <img src="@routes.Assets.versioned("img/clients/9.jpg")" alt="Lundin fundation">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Saboutech">
                        <img src="@routes.Assets.versioned("img/clients/10.jpg")" alt="Saboutech">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Createam">
                        <img src="@routes.Assets.versioned("img/clients/11.jpg")" alt="Createam">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="Mercycorps">
                        <img src="@routes.Assets.versioned("img/clients/13.jpg")" alt="Mercicorps">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="SEEN">
                        <img src="@routes.Assets.versioned("img/clients/14.jpg")" alt="SEEN">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="UAM">
                        <img src="@routes.Assets.versioned("img/clients/15.jpg")" alt="UAM">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#" class="client" data-toggle="tooltip" data-placement="top" title="LIPTINFOR">
                        <img src="@routes.Assets.versioned("img/clients/16.jpg")" alt="LIPTINFOR">
                    </a>
                </div>
            </div>
        </div>
    </section>
}
