@import java.util
@(mediatheques: util.List[Mediatheque])

@main("Médiathèques") {

    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Médiathèque</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">

        <nav class="filters-bar space-bottom-2x">
            <div class="column">
                <ul class="nav-filters">
                    <li class="active">
                        <a href="#" data-filter="*">
                            <i class="pe-7s-keypad"></i>
                            Tout voir
                        </a>
                    </li>
                    <li>
                        <a href="#" data-filter=".image">
                            <i class="pe-7s-photo"></i>
                            Images
                        </a>
                    </li>
                    <li>
                        <a href="#" data-filter=".video">
                            <i class="pe-7s-film"></i>
                            Video
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column"></div>
        </nav>

        <section class="grid isotope-masonry-grid filter-grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            @for(mediatheque <- mediatheques) {
                @if(mediatheque.getType == "video") {
                    <div class="grid-item video inspiration">
                        <a href="https://www.youtube.com/watch?v=@mediatheque.getVideo" class="gallery-tile gallery-video">
                            <div class="icon"><i class="pe-7s-film"></i></div>
                            <div class="image" style="background-image: url(@routes.Assets.versioned("img/mediatheques/"+mediatheque.getImage+".jpg"));"></div>
                        </a>
                    </div>
                }
                @if(mediatheque.getType == "photo") {
                    <div class="grid-item w2 image ux">
                        <a href="@routes.Assets.versioned("img/mediatheques/"+mediatheque.getImage+".jpg")" class="gallery-tile gallery-image">
                            <div class="icon"><i class="pe-7s-camera"></i></div>
                            <div class="image" style="background-image: url(@routes.Assets.versioned("img/mediatheques/"+mediatheque.getImage+".jpg"));"></div>
                        </a>
                    </div>
                }
            }
        </section>

    </div>
}

