@main("Startup"){
<div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned(" img/home/header1.jpg ") ) ;" data-stellar-background-ratio="0.65">
  <span class="overlay" style="opacity :.25 ;"></span>
  <div class="container">
    <div class="inner">
      <div class="title">
        <h2 class="text-light"><strong>Rejoignez notre équipe !</strong></h2>
        <p>Pour déposer une candidature spontanée, merci de nous adresser par mail votre CV et votre lettre de motivation à contact@@cipmen.org. Préciser en objet du mail : « Candidature spontanée + nom du poste »</p>
      </div>
    </div>
  </div>
</div>

<div class="container space-bottom-2x">
  <div class="row">

    <div class="col-md-3 col-sm-4 space-bottom-2x">
      <nav class="side-nav dark-skin">
        <ul role="tablist">
          <li class="active"><a href="#presentation" role="tab" data-toggle="tab">LE CIPMEN RECRUTE</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="tab-content transparent space-bottom-2x">
        <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
          <div class="panel-group" id="accordion">
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Le CIPMEN recherche son/sa prochain(e) assistant(e) de communication/community manager !
                                    </a>
              </div>
              <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                  <p>
                    Les candidatures sont à transmettre à mame-thiaba.diagne@@cipmen.org avant le vendredi 31 janvier 2019 en précisant en objet « Candidature – assistant de communication ».
                  </p>
                  <div> <span class="h3">Position dans l’organigramme : </span> <span class="p">L’assistant(e) de communication/ community manager travaille sous la direction de la responsable de la communication et en collaboration avec tous les services du CIPMEN.</h3>
                  <div><p>En tant que community manager, il/elle met à jour le site internet du CIPMEN, anime les réseaux sociaux et anime les échanges entre internautes. Il/elle est garant de l'image du CIPMEN sur le web. Il assiste aussi la responsable de la communication dans toutes les tâches de communication générale.</p></div>
                    <h4>Mission principales:</h4>
                  <ul style="list-style-type: circle;">
                    <li><span class="h3">Mise en ligne du contenu éditorial:</span><span style="font-size: 11.0pt; font-family: 'Cambria',serif;"> il/elle publie du contenu éditorial sur les pages dédiées des réseaux sociaux de CIPMEN et de Sahel Innov (Facebook, Twitter, Youtube) et élabore la newsletter. Il conçoit des visuels basiques.</span></li>
                    <li><span class="h3">Développement de la communication sur les réseaux sociaux :</span><span style="font-size: 11.0pt; font-family: 'Cambria',serif;"> il/elle représente CIPMEN sur les réseaux sociaux (Twitter, Facebook, Youtube, etc.), et développe sa visibilité sur le web. Il/elle assure la couverture en direct des manifestations auxquelles assistent le CIPMEN sur les réseaux sociaux.</span></li>
                    <li><span class="h3">Création et animation de communauté:</span><span style="font-size: 11.0pt; font-family: 'Cambria',serif;"> il/elle favorise les échanges, fédère et fidélise les internautes autour d'une communauté conviviale qu'il/elle anime par la diffusion de contenu informatif, des échanges, des réponses aux questions. Il/elle est amené(e) à modérer les commentaires et contributions des internautes sur les réseaux sociaux et le site internet.</span></li>
                    <li><span class="h3">Veille technologique et de la e-réputation:</span><span style="font-size: 11.0pt; font-family: 'Cambria',serif;"> il/elle est en charge de détecter les nouveaux outils ou nouveaux médias sociaux sur lesquels CIPMEN aurait intérêt à se positionner. Il/elle assure une veille sur le web, est à l'écoute des échos et de la réputation du CIPMEN et de Sahel Innov.</span></li>
                    <li><span class="h3">Appui à la mise en œuvre de stratégie globale de communication du CIPMEN et de SahelInnov:</span><span style="font-size: 11.0pt; font-family: 'Cambria',serif;"> revue des supports de communication, revue du format des documents internes, gestion de la newsletter, accompagnement marketing et communication des start-up de l’incubateur, relations presse, toute autre tâche connexe à la demande de la responsable de la communication.</span></li>
                   </ul>
                  <h4>Qualités requises</h4>
                  <p style="text-align: justify;">Il/elle travaille sur ordinateur en relation avec différents services en contact avec les internautes.</p>
                  <ul style="list-style-type: circle;">
                    <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Réactivité et capacité d’adaptation</span></li>
                    <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Sens de l'écoute, diplomatie</span></li>
                    <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Curiosité intellectuelle</span></li>
                   </ul>
                  
                  
                  <h4>Compétences</h4>
                  
                  <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Goût pour l’innovation, les nouveaux médias, les réseaux sociaux</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Maîtrise du web (langage, jargons, etc.)</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Capacités de communication et capacités rédactionnelles (orthographe et syntaxe irréprochables)</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Capacité à concevoir des visuels pour les réseaux sociaux</span></li>
                    <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Culture entrepreneuriale et connaissance de l’écosystème entrepreneurial nigérien appréciées.</span></li>
                    <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Maîtrise de l’anglais</span></li>
                    
                  </ul>
                  
                  <h4>Profil</h4>
                  <p style="text-align: justify;">Diplômes universitaires de niveau bac+2 à bac+5 (sciences humaines, information et communication, marketing, journalisme).</p>
                  <p style="text-align: justify;">Une première expérience dans le domaine souhaitée</p>
                  
                  <h4>Modalités de recrutement</h4>
                  <p style="text-align: justify;">Stage rémunéré de 6 mois. </p>
                  
                  <h4>Conditions de travail</h4>
                  <p style="text-align: justify;">Il/Elle peut lui être demandé de travailler en dehors des horaires officiels pour respecter les échéances et / ou dans des situations de crise.</p>
                  
                  
                  
                  <h4>Connaissances</h4>
                  
                  <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Connaissance Approfondie et prouvée de la gestion administrative d'une entreprise de moyenne à grande taille</span></li>
                  </ul>
                  <h4>Expérience</h4>
                  
                  <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Au moins 3 ans d'expérience</span></li>
                  </ul>
                  <h4>Salaire</h4>
                  
                  <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Selon profil</span></li>
                  </ul>
                    <h4>Date limite de candidature</h4>
                  
                  <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Vendredi 16 décembre 2018 à 23h59 Heure de Niamey</span></li>
                  </ul>

}
