@main("Startup"){
<div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned(" img/home/header1.jpg ") ) ;" data-stellar-background-ratio="0.65">
    <span class="overlay" style="opacity :.25 ;"></span>
    <div class="container">
        <div class="inner">
            <div class="title">
                <h2 class="text-light"><strong>Projet d'Accès aux Services Electriques Solaires au Niger (NESAP)</strong></h2>
            </div>
        </div>
    </div>
</div>

<div class="container space-bottom-2x">
    <div class="row">

        <div class="col-md-3 col-sm-4 space-bottom-2x">
            <nav class="side-nav dark-skin">
                <ul role="tablist">
                    <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Projet d'Accès aux Services Electriques Solaires au Niger (NESAP)</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9 col-sm-8">
            <div class="tab-content transparent space-bottom-2x">
                <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Projet d'Accès aux Services Electriques Solaires au Niger (NESAP)
                                    </a>
                            </div>
                            <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">
                                    <p>
                                            <a class="panel-title" target="_blank" href="@routes.Assets.versioned("fichier/nesap_detaillant.docx")">
                                                Télécharger le formulaire de candidature réservé aux <em>Détaillants</em>
                                            </a>
                                        </p>
                                    <p>
                                            <a class="panel-title" target="_blank" href="@routes.Assets.versioned("fichier/nesap_distributeur.docx")">
                                                Télécharger le formulaire de candidature réservé aux <em>Distributeurs</em>
                                            </a>
                                        </p>
                                    <h3>Appel à candidature pour l’incubation dans le cadre du projet NESAP</h3>
                                    <p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Le Centre Incubateur des Petites et Moyennes Entreprises au Niger (CIPMEN) est une association &agrave; but non lucratif n&eacute;e d&rsquo;un partenariat public-priv&eacute; qui a pour mission de promouvoir l&rsquo;entreprenariat innovant. En 4 ans, 20 entreprises ont &eacute;t&eacute; incub&eacute;es et plus de 80 porteurs de projet ont &eacute;t&eacute; accompagn&eacute;s &agrave; la cr&eacute;ation de leurs entreprises.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Il est charg&eacute; de l&rsquo;accompagnement par incubation ou acc&eacute;l&eacute;ration des PME du domaine solaire choisies pour augmenter l&rsquo;offre en pico-PV ou SHS de qualit&eacute; entrant dans la composante 1 du Projet d'Acc&egrave;s aux Services Electriques Solaires au&nbsp;Niger&nbsp;(NESAP).</span></p>
<p style="margin-bottom: .0001pt; text-align: justify; line-height: normal;"><span style="font-family: 'Cambria',serif;">En effet, le NESAP est un projet du Gouvernement du Niger financ&eacute; par le Groupe de la Banque mondiale visant &agrave; accro&icirc;tre l&rsquo;acc&egrave;s &agrave; l&rsquo;&eacute;lectricit&eacute; en ayant recours &agrave; des syst&egrave;mes solaires individuels, des mini-r&eacute;seaux solaires et hybrides diesel. Il est coordonn&eacute; par l&rsquo;Agence Nig&eacute;rienne de Promotion de l&rsquo;Electrification en milieu Rural (ANPER).</span></p>
<p style="margin-bottom: .0001pt; text-align: justify; line-height: normal;"><span style="font-family: 'Cambria',serif;">La composante 1 de ce projet intitul&eacute;e &laquo; D&eacute;veloppement du march&eacute; d&rsquo;&eacute;quipements solaires hors r&eacute;seau&nbsp;&raquo; visant &agrave; d&eacute;velopper le march&eacute; commercial des syst&egrave;mes solaires autonomes est mise en &oelig;uvre par le Centre National d&rsquo;Energie Solaire (CNES).&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Ainsi, dans le cadre du recrutement de la 1&egrave;re cohorte de son programme d&rsquo;incubation pour le projet d&rsquo;acc&egrave;s aux services &eacute;lectriques solaires au Niger (NESAP), le CIPMEN lance le pr&eacute;sent appel &agrave; candidature pour accompagner des distributeurs (entreprises op&eacute;rant d&eacute;j&agrave; dans le solaire) et des d&eacute;taillants (porteurs de projets) du solaire afin de contribuer au d&eacute;veloppement du march&eacute; du solaire par l&rsquo;acquisition et la distribution de mat&eacute;riels solaires. </span></p>
<p style="text-align: justify;"><strong><span style="font-family: 'Cambria',serif; color: windowtext;">Les candidats retenus pour le programme d&rsquo;incubation recevront un accompagnement sp&eacute;cifique &agrave; leur cat&eacute;gorie. </span></strong></p>
<p style="text-align: justify;"><strong><span style="font-size: 5.0pt; line-height: 115%; font-family: 'Cambria',serif; color: windowtext;">&nbsp;</span></strong></p>
<ul style="list-style-type: square;">
<li><strong><span style="font-family: 'Cambria',serif; color: windowtext;">Ainsi, les distributeurs</span></strong><span style="font-family: 'Cambria',serif; color: windowtext;"><strong>seront appuy&eacute;s pour :</strong></span>
<ul style="list-style-type: circle;">
<li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La structuration de ces entreprises&nbsp;;</span></li>
<li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Le d&eacute;veloppement commercial de leurs entreprises&nbsp;;</span></li>
<li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L&rsquo;acc&egrave;s au financement.</span></li>
<li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L&rsquo;appui technique (PAYG, irrigation et pompage solaire) </span></li>
</ul>
</li>
<li style="text-align: justify; line-height: normal;"><span style="font-size: 9.0pt; font-family: 'Cambria',serif;">&nbsp;</span><strong><span style="font-family: 'Cambria',serif; color: windowtext;">En ce qui concerne les d&eacute;taillants, ils auront les appuis suivants&nbsp;:</span></strong>
<ul style="list-style-type: circle;">
<li style="text-align: justify; line-height: normal;"><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La formation&nbsp;sur le plan technique et en entreprenariat ;</span></li>
<li style="text-align: justify; line-height: normal;"><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La structuration et la formalisation&nbsp;de leurs projets ;</span></li>
<li style="text-align: justify; line-height: normal;"><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Le d&eacute;veloppement commercial de leurs entreprises.</span></li>
<li style="text-align: justify; line-height: normal;"><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L&rsquo;appui technique (PAYG, irrigation et pompage solaire)</span></li>
</ul>
</li>
</ul>
<p style="text-align: justify;"><span style="font-size: 8.0pt; line-height: 115%; font-family: 'Cambria',serif; color: windowtext;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-family: 'Cambria',serif; color: windowtext;">Les crit&egrave;res</span></strong><span style="font-family: 'Cambria',serif; color: windowtext;">&nbsp;<strong>de s&eacute;lection sont les suivants :</strong> </span></p>
<ul style="list-style-type: square;">
<li style="text-align: justify;"><strong><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">Pour les distributeurs</span></strong><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">:</span>
<ol style="list-style-type: lower-roman;">
<li style="text-align: justify;"><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">R&eacute;aliser un chiffre d&rsquo;affaires annuel moyen de 60&nbsp;000 000 FCFA;</span></li>
<li style="text-align: justify;"><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Avoir b&eacute;n&eacute;fici&eacute; de pr&ecirc;t bancaire et l&rsquo;avoir rembours&eacute; sans incident;</span></li>
<li style="text-align: justify;"><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Disposer d&rsquo;une &eacute;quipe capable de porter cette activit&eacute;&nbsp;;</span></li>
<li style="text-align: justify;"><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">Une implantation en r&eacute;gion serait un atout.</span></li>
</ol>
</li>
<li><strong><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">Pour les d&eacute;taillants</span></strong><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">:</span>
<ol style="list-style-type: lower-roman;">
<li><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Avoir des comp&eacute;tences techniques&nbsp;;</span></li>
<li><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Disposer d&rsquo;une exp&eacute;rience dans le domaine du solaire&nbsp;;</span></li>
<li><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Etre motiv&eacute;(e) et disponible&nbsp;;</span></li>
<li><span style="font-size: 11.0pt; line-height: 106%; font-family: 'Cambria',serif;">Manifester un int&eacute;r&ecirc;t d&rsquo;implantation dans une r&eacute;gion du pays (hors Niamey).</span></li>
</ol>
</li>
</ul>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Le formulaire de candidature (&agrave; remplir et &agrave; nous retourner) est t&eacute;l&eacute;chargeable sur le site web du CIPMEN&nbsp;: <span style="color: windowtext;"><a href="http://www.cipmen.org">www.cipmen.org</a>/candidatures</span>. (Formulaire Distributeur ou D&eacute;taillant).</span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Vous pouvez aussi retirer la version papier au CIPMEN, sis au quartier Recasement, intersection 3<sup>&egrave;me</sup> lat&eacute;rite-Niamey Nyala. </span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Les candidatures peuvent &ecirc;tre transmises par mail &agrave; <strong><u>nesap@cipmen.org</u></strong> avec copie&nbsp; &agrave; <span style="color: windowtext;"><a href="mailto:contact@cipmen.org">contact@cipmen.org</a></span> au plus tard le<strong> 17 Ao&ucirc;t 2018. </strong></span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Les repr&eacute;sentations du CIPMEN dans les r&eacute;gions de Tahoua et Zinder m&egrave;neront des actions de communication pour vulgariser l&rsquo;appel &agrave; projet &agrave; partir de la date de publication du pr&eacute;sent appel.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Cambria',serif; color: windowtext;">Aussi le lancement des activit&eacute;s du CIPMEN en r&eacute;gion sera une occasion pour renforcer les actions de communication sur le projet. </span></p>
<p><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif;">Pour tous renseignements compl&eacute;mentaires, contactez-nous via notre e-mail&nbsp;: <span style="color: windowtext;"><a href="mailto:contact@cipmen.org">contact@cipmen.org</a></span> ou t&eacute;l&eacute;phone<strong> : </strong>(+227) 20 35 11 02 / mobile&nbsp;: (+227) 92 19 19 83.</span></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
}
