@main("Startup"){
<div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned(" img/home/header1.jpg ") ) ;" data-stellar-background-ratio="0.65">
  <span class="overlay" style="opacity :.25 ;"></span>
  <div class="container">
    <div class="inner">
      <div class="title">
        <h2 class="text-light"><strong>Projet d'Accès aux Services Electriques Solaires au Niger (NESAP)</strong></h2>
      </div>
    </div>
  </div>
</div>

<div class="container space-bottom-2x">
  <div class="row">

    <div class="col-md-3 col-sm-4 space-bottom-2x">
      <nav class="side-nav dark-skin">
        <ul role="tablist">
          <li class="active"><a href="#presentation" role="tab" data-toggle="tab">African Rethink Awards (ARA)</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="tab-content transparent space-bottom-2x">
        <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
          <div class="panel-group" id="accordion">
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Projet d'Accès aux Services Electriques Solaires au Niger (NESAP)
                                    </a>
              </div>
              <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                  <p>
                    <a class="panel-title" target="_blank" href="@routes.Assets.versioned(" fichier/nesap_detaillant.docx ")">
                                                Télécharger le formulaire de candidature réservé aux <em>Détaillants</em>
                                            </a>
                  </p>
                  <p>
                    <a class="panel-title" target="_blank" href="@routes.Assets.versioned(" fichier/nesap_distributeur.docx ")">
                                                Télécharger le formulaire de candidature réservé aux <em>Distributeurs</em>
                                            </a>
                  </p>
                  <h3>Appel à candidature pour l’incubation dans le cadre du projet NESAP</h3>
                  <p style="text-align: justify;">Le Centre Incubateur des Petites et Moyennes Entreprises au Niger (CIPMEN) est une association à but non lucratif née d’un partenariat public-privé qui a pour mission de promouvoir l’entreprenariat innovant. En 4 ans, 20 entreprises ont été incubées et plus de 80 porteurs de projet ont été accompagnés à la création de leurs entreprises.</p>

                  <p style="text-align: justify;">Il est chargé de l’accompagnement par incubation ou accélération des PME du domaine solaire choisies pour augmenter l’offre en pico-PV ou SHS de qualité entrant dans la composante 1 du Projet d'Accès aux Services Electriques Solaires au Niger (NESAP).</p>

                  <p style="text-align: justify;">En effet, le NESAP est un projet du Gouvernement du Niger financé par le Groupe de la Banque mondiale visant à accroître l’accès à l’électricité en ayant recours à des systèmes solaires individuels, des mini-réseaux solaires et hybrides diesel. Il est coordonné par l’Agence Nigérienne de Promotion de l’Electrification en milieu Rural (ANPER).</p>

                  <p style="text-align: justify;">La composante 1 de ce projet intitulée « Développement du marché d’équipements solaires hors réseau » visant à développer le marché commercial des systèmes solaires autonomes est mise en œuvre par le Centre National d’Energie Solaire (CNES). </p>

                  <p style="text-align: justify;">
                    Ainsi, dans le cadre du recrutement de la 1ère cohorte de son programme d’incubation pour le projet d’accès aux services électriques solaires au Niger (NESAP), le CIPMEN lance le présent appel à candidature pour accompagner des distributeurs (entreprises opérant déjà dans le solaire) et des détaillants (porteurs de projets) du solaire afin de contribuer au développement du marché du solaire par l’acquisition et la distribution de matériels solaires.</p>




                  <p style="text-align: justify;"><strong>Les candidats retenus pour le programme d’incubation recevront un accompagnement spécifique à leur catégorie.</strong></p>


                  <ul style="list-style-type: square;">
                    <li><strong>Ainsi, les distributeurs seront appuyés pour :</strong>
                      <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La structuration de ces entreprises</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Le développement commercial de leurs entreprises</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L’accès au financement</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L’appui technique (PAYG, irrigation et pompage solaire)</span></li>
                      </ul>
                    </li>
                    <li><strong>En ce qui concerne les détaillants, ils auront les appuis suivants :</strong>
                      <ul style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La formation sur le plan technique et en entreprenariat</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">La structuration et la formalisation de leurs projets</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Le développement commercial de leurs entreprises</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">L’appui technique (PAYG, irrigation et pompage solaire)</span></li>
                      </ul>
                    </li>
                  </ul>
                  <p style="text-align: justify;"><strong>Les critères de sélection sont les suivants :</strong></p>


                  <ul style="list-style-type: square;">
                    <li><strong>Pour les distributeurs :</strong>
                      <ol style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Réaliser un chiffre d’affaires annuel moyen de 60 000 000 FCFA</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Avoir bénéficié de prêt bancaire et l’avoir remboursé sans incident</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Disposer d’une équipe capable de porter cette activité</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Une implantation en région serait un atout.</span></li>
                      </ol>
                    </li>
                    <li><strong>Pour les détaillants :</strong>
                      <ol style="list-style-type: circle;">
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Avoir des compétences techniques</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Disposer d’une expérience dans le domaine du solaire</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Etre motivé(e) et disponible</span></li>
                        <li><span style="font-size: 11.0pt; font-family: 'Cambria',serif;">Manifester un intérêt d’implantation dans une région du pays (hors Niamey)</span></li>
                      </ol>
                    </li>
                  </ul>





                  <p style="text-align: justify;">Le formulaire de candidature (à remplir et à nous retourner) est téléchargeable sur le site web du CIPMEN : www.cipmen.org/candidatures. (Formulaire Distributeur ou Détaillant).</p>

                  <p style="text-align: justify;">Vous pouvez aussi retirer la version papier au CIPMEN, sis au quartier Recasement, intersection 3ème latérite-Niamey Nyala.</p>

                  <p style="text-align: justify;">Les candidatures peuvent être transmises par mail à nesap@@cipmen.org avec copie à contact@@cipmen.org au plus tard le 17 Août 2018.</p>

                  <p style="text-align: justify;">Les représentations du CIPMEN dans les régions de Tahoua et Zinder mèneront des actions de communication pour vulgariser l’appel à projet à partir de la date de publication du présent appel.</p>

                  <p style="text-align: justify;">Aussi le lancement des activités du CIPMEN en région sera une occasion pour renforcer les actions de communication sur le projet.</p>

                  <p style="text-align: justify;">Pour tous renseignements complémentaires, contactez-nous via notre e-mail : contact@@cipmen.org ou téléphone : (+227) 20 35 11 02 / mobile : (+227) 92 19 19 83.</p>

}
