
@main("Je postule"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header.jpg"));" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Je postule</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav">
                    <ul role="tablist">
                        <li class="active"><a href="#energie" role="tab" data-toggle="tab">Énergie</a></li>
                        <li><a href="#environnement" role="tab" data-toggle="tab">Environnement</a></li>
                        <li><a href="#tic" role="tab" data-toggle="tab">TIC</a></li>
                    </ul>
                </nav>
            </div>
            @if(flash.containsKey("postuleerror")) {
                @flash.get("postuleerror")
            }
            @if(flash.containsKey("postulesuccess")) {
                @flash.get("postulesuccess")
            }
            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="energie">
                        <form method="post" action="postule">
                            <div class="form-control">
                                <input type="text" name="nom" placeholder="Nom">
                                <input type="text" name="prenom" placeholder="Prénom">
                                <input type="email" name="email" placeholder="Email">
                                <input type="text" name="adresse" placeholder="Adresse">
                                <input type="hidden" name="type" value="energie">
                            </div>
                            <div class="form-control">
                                <textarea rows="3"  name="description" placeholder="Description de votre projet"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" name="probleme" placeholder="Problèmes constatés ou opportunités"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" name="clientele" placeholder="Cientèle cible"></textarea>
                            </div>
                            <div class="form-group">
                                <p style="padding-left: 30px;">Stade de développement</p>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Idée"> Idée
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Prototype"> Prototype
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade"  value="test sur le marché"> Test sur le marché
                                </label>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" name="frein" placeholder="Freins à la réalisation"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" name="attente" placeholder="Vos attentes vis-à-vis du Cipmen"></textarea>
                            </div>
                            <div class="form-control">
                                <button type="submit" class="btn btn-ghost btn-default">Envoyer</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane transition fade scale" id="environnement">
                        <form method="post" action="postule">
                            <div class="form-control">
                                <input type="text" name="nom" placeholder="Nom">
                                <input type="text" name="prenom" placeholder="Prénom">
                                <input type="email" name="email" placeholder="Email">
                                <input type="text" name="adresse" placeholder="Adresse">
                                <input type="hidden" name="type" value="environnement">
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Description de votre projet"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Problèmes constatés ou opportunités"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Cientèle cible"></textarea>
                            </div>
                            <div class="form-group">
                                <p style="padding-left: 30px;">Stade de développement</p>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Idée"> Idée
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Prototype"> Prototype
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade"  value="test sur le marché"> Test sur le marché
                                </label>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Freins à la réalisation"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Vos attentes vis-à-vis du Cipmen"></textarea>
                            </div>
                            <div class="form-control">
                                <button type="submit" class="btn btn-ghost btn-default">Envoyer</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane transition fade scale" id="tic">
                        <form method="post" action="postule">
                            <div class="form-control">
                                <input type="text" name="nom" placeholder="Nom">
                                <input type="text" name="prenom" placeholder="Prénom">
                                <input type="email" name="email" placeholder="Email">
                                <input type="text" name="adresse" placeholder="Adresse">
                                <input type="hidden" name="type" value="tic">
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Description de votre projet"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Problèmes constatés ou opportunités"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Cientèle cible"></textarea>
                            </div>
                            <div class="form-group">
                                <p style="padding-left: 30px;">Stade de développement</p>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Idée"> Idée
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade" value="Prototype"> Prototype
                                </label>
                                <label class="radio">
                                    <input type="radio" name="stade"  value="test sur le marché"> Test sur le marché
                                </label>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Freins à la réalisation"></textarea>
                            </div>
                            <div class="form-control">
                                <textarea rows="3" placeholder="Vos attentes vis-à-vis du Cipmen"></textarea>
                            </div>
                            <div class="form-control">
                                <button type="submit" class="btn btn-ghost btn-default">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}