
@main("Startup"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header1.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Appel à candidature pré-incubation</strong></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav dark-skin">
                    <ul role="tablist">
                        <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Appel à candidature pré-incubation</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Les candidatures pour le programme de pré-incubation du CIPMEN sont ouvertes!
                                    </a>
                                </div>
                                <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <p>
                                            Le CIPMEN est le premier acteur soutenant l’entrepreneuriat au Niger. Il accompagne les entrepreneurs dans le lancement et le développement de leur activité.
                                    </p>
                                        <h5 class="text-primary">Le programme de pré-incubation s’adresse aux porteurs de projet innovant et à fort impact socio-économique. Il donne accès à un accompagnement pour:</h5>

                                        <ul>
                                            <li>La structuration et la formalisation de leur idée d’entreprise</li>
                                            <li>L’établissement de leur modèle économique</li>
                                            <li>L’étude de marché </li>
                                            <li>Appui à l’élaboration de leurs plans d’affaires (avec formation à la clé)</li>
                                            <li>La recherche de financement</li>
                                        </ul>
                                        
                                        <p>
                                            Les porteurs de projet basés à Niamey, Tahoua et Zinder sont invités à candidater  via le formulaire téléchargeable ci-dessous
                                        </p>
                                        <p>
                                            <a class="panel-title" target="_blank" href="@routes.Assets.versioned("fichier/pre-incubation.docx")">
                                                Télécharger le formulaire de candidature
                                            </a>
                                        </p>
                                        
                                        <p>
                                            Les candidatures sont à transmettre par mail au plus tard le 16 novembre 2018 aux adresses suivantes:</p>
                                        <ul>
                                            <li>Niamey : preincubation.niamey@@cipmen.org</li>
                                            <li>Tahoua : preincubation.tahoua@@cipmen.org</li>
                                            <li>Zinder : preincubation.zinder@@cipmen.org</li>
                                        </ul>
                                        <p>
                                            Pour tout renseignement complémentaire, contactez-nous via les emails ci-dessus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
