
@main("Profil"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url ( @routes.Assets.versioned("img/home/header.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>Mon profil</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav">
                    <ul role="tablist">
                        <li class="active"><a href="#ressources" role="tab" data-toggle="tab">Mes ressources</a></li>
                        <li><a href="/deconnexion" role="tab" >Déconnexion</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="ressources">
                        <div class="table-responsive space-bottom-2x">
                            <table class="table-striped">
                                <tr>
                                    <td><a href="@routes.Assets.versioned("ressources/canvas.pptx")" title="" >Business Canevas</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="@routes.Assets.versioned("ressources/pitch_19.pptx")" title="" >Model Pitch</a> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}