
@main("Startup"){
    <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header-sahel-delices.jpg") ) ;" data-stellar-background-ratio="0.65">
        <span class="overlay" style="opacity :.25 ;"></span>
        <div class="container">
            <div class="inner">
                <div class="title">
                    <h2 class="text-light"><strong>SAHEL DELICES</strong></h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container space-bottom-2x">
        <div class="row">

            <div class="col-md-3 col-sm-4 space-bottom-2x">
                <nav class="side-nav dark-skin">
                    <ul role="tablist">
                        <li class="active"><a href="#presentation" role="tab" data-toggle="tab">Présentation</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="tab-content transparent space-bottom-2x">
                    <div role="tabpanel" class="tab-pane transition fade scale in active" id="presentation">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ac02">
                                        Qui sommes-nous ?
                                    </a>
                                </div>
                                <div id="ac02" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Nom de l’entreprise </strong>Sahel Délices<br><br>
                                            <strong>Nom et prénom de la Promotrice  </strong>Mme BACHIR Mà Rockya<br><br>
                                            <strong>Capital  </strong>Sahel Délices avec un capital initial de 5 000 000 FCFA<br><br>
                                            <strong>Date d’entrée au CIPMEN </strong> Mai 2016<br><br>
                                            <strong>Nombre de salariés (évolution 2015/2016)  </strong>2015 : 4 ;  2016 : 6<br><br>
                                            <strong>Entité juridique </strong>Entreprise individuelle immatriculée au Registre du Commerce et du Crédit Mobilier de Niamey, sous le Numéro RCCM-NI-NIA-2015-A-813 et immatriculée sous le Numéro d’Identification Fiscal (NIF) 36801/P<br><br>
                                            <strong>Clients de Sahel Délices  </strong>4 grands clients (BAAKLINI au Château I, Alimentation LE REGAL à la Place Toumo, Alimentation LE REGAL Francophonie, MINI MARKET le SAHEL au quartier « Riyad »<br><br>
                                            <strong>Actions en cours </strong>Ouverture d’une boutique Sahel Délices, Certification des produits, Démarche d’autorisation pour la production de la farine infantile<br><br>
                                            <strong>Aide </strong> Accompagnement auprès des partenaires de CIPMEN pour l’obtention de financement<br><br>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}