<script src="@routes.Assets.versioned("js/vendor/jquery-2.1.4.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/placeholder.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/smoothscroll.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/jquery.stellar.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/velocity.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/magnific-popup.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/icheck.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/gmap3.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/owl.carousel.min.js")"></script>
<script src="@routes.Assets.versioned("js/vendor/isotope.pkgd.min.js")"></script>
<script src="@routes.Assets.versioned("js/scripts.js")"></script>