@main("Incubateur"){


    <section class="fw-section bg-white padding-top-3x padding-bottom-3x">
        <div class="page-title pt-dark pt-parallax" style="background-image : url(@routes.Assets.versioned("img/home/header15.jpg") ) ;" data-stellar-background-ratio="0.65">
            <span class="overlay" style="opacity :.25 ;"></span>
            <div class="container">
                <div class="inner">
                    <div class="title">
                        <h2 class="text-light"><strong>La team</strong></h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="block-title text-center">
                La Team
                <small>Une équipe Jeune et Dynamique</small>
            </h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/1.jpg")" alt="Johnathan Doe">
                        </div>
                        <h3 class="box-with-image-title">Moktar Allahoury
                            <small>CEO</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/2.jpg")" alt="Anabelle Dorris">
                        </div>
                        <h3 class="box-with-image-title">Salissou Mato
                            <small>Business developper</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/3.jpg")" alt="Taylor White">
                        </div>
                        <h3 class="box-with-image-title">Houssein Ahssimi
                            <small>Community Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/4.jpg")" alt="Suasanna Davis">
                        </div>
                        <h3 class="box-with-image-title">Fatoumata Bako
                            <small>Project Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/5.jpg")" alt="Christopher Walker">
                        </div>
                        <h3 class="box-with-image-title">Kassai Bako
                            <small>Executive assistant</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/12.jpg")" alt="Endy Garcia">
                        </div>
                        <h3 class="box-with-image-title">Keita Seydou
                            <small>Account Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/6.jpg")" alt="Endy Garcia">
                        </div>
                        <h3 class="box-with-image-title">Bello Mahamadou
                            <small>Project Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/10.jpg")" alt="Endy Garcia">
                        </div>
                        <h3 class="box-with-image-title">Arafat Abdoul-rahamane
                            <small>Business Developper junior</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-with-image text-center">
                        <div class="box-with-image-image">
                            <img src="@routes.Assets.versioned("img/team/11.jpg")" alt="Endy Garcia">
                        </div>
                        <h3 class="box-with-image-title">Rahiya Massoubre
                            <small>Event Manager</small>
                        </h3>
                        <div class="social-bar text-center">
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}